<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Chous-SHOP! only best dildos!)))</title>
</head>
<body>
<a href="{% url 'search' %}">Поиск</a>
<a href="{% url 'vkauth' %}">Авторизоваться через ВК</a>
{% block content %}{% endblock %}
</body>
</html>