{% extends 'internet_shop/base.html' %}

{% block content %}
<p><a href="/">Домой</a></p>
{% for product in products %}
    <p>{{ product.product.title }} </p>
    <p>цена: <b>{{ product.product.price }} p</b></p><br>
{% endfor %}

<p>Сумма: <b>{{ price_sum }} p</b></p>

<form action="{{ robokassa_form.target }}" method="POST">
    <p>{{ robokassa_form.as_p }}</p>
    <p><input type="submit" value="Купить"></p>
</form>
{% endblock %}