{% extends 'internet_shop/base.html' %}

{% block content %}
    <p><a href="{% url 'basket' %}">Корзина</a></p>
    <p>Товары ежжи:</p>
    {% for product in product_list %}
        <p>Название: <a href="{% url 'product_details' product_id=product.id %}">{{ product.title }}</a></p>
        <img src="{{ product.image }}" width="300" height="300">
        <p>Цена: {{ product.price }} р</p>
        <p>Осталось: {{ product.number }} шт</p>
        <form action="{% url 'add_product_in_basket' product_id=product.id %}" method="post">
            {% csrf_token %}
            <button>Добавить в корзину</button>
        </form>
        <br><br>
    {% endfor %}
{% endblock %}