{% extends 'internet_shop/base.html' %}

{% block content %}
<p><a href="/">Домой</a></p>
<p><a href="{% url 'basket' %}">Корзина</a></p>
<p>Название: {{ product.title }}</p>
<img src="{{ product.image }}" width="300" height="300">
<p>{{ product.description }}</p>
<p>Цена: {{ product.price }} р</p>
<p>Осталось: {{ product.number }} шт</p>
<form action="{% url 'add_product_in_basket' product_id=product.id %}" method="post">
    {% csrf_token %}
    <button>Добавить в корзину</button>
</form>
{% endblock %}
