{% extends 'internet_shop/base.html' %}

{% block content %}
    <form action="{% url 'get_search' %}">
        <input type="text">
        <button type="submit">искать</button>
    </form>
{% endblock %}